.App {
  display: flex;
}

.content {
  flex: 1;
}

.secondary-fontstyle {
  mix-blend-mode: normal;
  opacity: 0.5;
}

.app-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-flex-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.team-activity {
  margin: 40px;

  flex-wrap: wrap;
  gap: 50px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.image-container {
  height: 36px;
  width: 36px;
  border-radius: 0px;
}

.image-container img{
  width: 100%;
  height: auto;
}